body{
	color: white;
	font-family: 'Raleway', sans-serif;
}

.projects h1, .projects h2, .projects h3, .projects h4, .projects h5{
	line-height: 1.5 !important;
}

.gray{
	color: #7e7d7d;
}
.gray-light{
	color: #939393;
}

.main{
	width: 100%;
}
.projects{
	margin-top: 100px;
	margin-bottom: 100px;
}

/* Centralizando imagens */
.img-center{
	margin: 0 auto;
}
/* Centralizando imagens */

/* Logo marca do site */
.logo{
	padding: 15px;
}
/* Logo marca do site */

/* Redes sociais */
.rede-social{
	padding: 15px;
}
.rede-social img{
	display: inline-block;
}
/* Redes sociais */


.topo-home{
	background-image: url('../novo_layout/topo_home.jpg');
	background-size: 100% 100%;
	background-position: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.topo-fundo{
	background: rgba(255, 255, 255, 0.53);
	width: 100%;
}
.mission-sirigoela{
	padding-top: 150px;
	padding-right: 150px;
	padding-bottom: 150px;
}
.mission-sirigoela h1{
	color: white;
	font-weight: bold;
}
.mission-sirigoela h2{
	color: white;
}

.carousel-inner > .carousel-imgs{
	display: none;
}

.carousel-inner > .active{
	display: block !important;
	overflow: hidden;
    margin: 0 auto;
    padding-left: 0;
    opacity: 0;
    animation: fadeIn .6s linear forwards;
    text-align: center;
}

#myCarousel .carousel-inner{
	width: 80%;
	margin: 0 auto;
}

.carousel-inner > .carousel-imgs div{
	display: inline-block;
	list-style: none;
}
#myCarousel{
	margin-bottom: 10px;
}

/* Footer */

.footer{
	background-color: orange;
	padding: 45px;
}
.footer .background-footer{
	margin-top: 20px;
}
.content-footer{
	width: 100%;
}

/* Carousel */

.carousel-inner .active.left  { left: -33%;             }
.carousel-inner .active.right { left: 33%;              }
.carousel-inner .next         { left: 33%               }
.carousel-inner .prev         { left: -33%              }
.carousel-control.left        { background-image: none; }
.carousel-control.right       { background-image: none; }
.carousel-inner .item         { background: white;      }

/* 
 Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media (min-width: 200px) and (max-width: 900px) {
  	.mission-sirigoela{
		padding-top: 80px;
		padding-right: 80px;
		padding-bottom: 80px;
	}
}
/* 
 Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media (min-width: 200px) and (max-width: 991px) {
	.logo_footer{
		float: none !important;
	}
	.logo_footer img{
		margin: 0 auto;
	}
}


/* 
 Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media (max-width: 468px) {
  	.img-block{
		display: block !important;
	}
	.img-block img{
		width: 100% !important;
	}
	.description-footer{
		text-align: center;
	}
}

/* 
 Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media (max-width: 760px) {
	.description-footer{
		text-align: center;
	}
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

div[style^="text-align: right;position: fixed;z-index:9999999;bottom: 0; width: 100%;cursor: pointer;line-height: 0;"] {
    display: none !important;
}